language: python

python:
  - 3.6

services:
  - postgresql
  - redis-server

addons:
  postgresql: "9.6"

install:
  - pip install -r requirements.txt

before_script:
  - psql -c "CREATE DATABASE orders;" -U postgres
  - python manage.py migrate --noinput
  

script:
  - pytest

deploy:
  provider: heroku
  api_key:
    secure: "bfeaaaee-7826-4434-b151-adf4eaac217e"
  app: backend-challenge5
  on: main
  strategy: git